.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0a0a67;

    --primary-color: #011244;
    --secondary-color: #0343cd;

    --inverted-primary-color: #04af04;
    --inverted-secondary-color: #04ff04;
}