.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0a0a67;

    --primary-color: #0c3dd1;
    --secondary-color: #4672d2;

    --inverted-primary-color: #04af04;
    --inverted-secondary-color: #04ff04;
}